        <footer>
          <div class="copyright-info">
            <p class="pull-right">©2016 All Rights Reserved  
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>