   </div>
      <!-- /page content -->

    </div>

  </div>

<script src="../public/js/jquery.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../public/js/script.js"></script>
<!-- chart js -->
  <script src="../public/js/chartjs/chart.min.js"></script>
  <!-- bootstrap progress js -->
  <script src="../public/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="../public/js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="../public/js/icheck/icheck.min.js"></script>

  <script src="../public/js/custom.js"></script>
  <!-- form wizard -->
  <script type="text/javascript" src="../public/js/wizard/jquery.smartWizard.js"></script>
  <!-- pace -->
   <script type="text/javascript" src="../public/js/notify/pnotify.core.js"></script>
  <script type="text/javascript" src="../public/js/notify/pnotify.buttons.js"></script>
  <script type="text/javascript" src="../public/js/notify/pnotify.nonblock.js"></script>


  <script src="../public/js/pace/pace.min.js"></script>
  <script type="text/javascript">
   
  </script>
  <!-- gauge js -->
  <script type="text/javascript" src="../public/js/gauge/gauge.min.js"></script>
  <script type="text/javascript" src="../public/js/gauge/gauge_demo.js"></script>
  <!-- chart js -->
  <script src="../public/js/chartjs/chart.min.js"></script>
  <!-- bootstrap progress js -->
  <script src="../public/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="../public/js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="../public/js/icheck/icheck.min.js"></script>
  <!-- daterangepicker -->
  <script type="text/javascript" src="../public/js/moment/moment.min.js"></script>
  <script type="text/javascript" src="../public/js/datepicker/daterangepicker.js"></script>

  <script src="../public/js/custom.js"></script>

  <!-- flot js -->
  <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="../public/js/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.pie.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.orderBars.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.time.min.js"></script>
  <script type="text/javascript" src="../public/js/flot/date.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.spline.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.stack.js"></script>
  <script type="text/javascript" src="../public/js/flot/curvedLines.js"></script>
  <script type="text/javascript" src="../public/js/flot/jquery.flot.resize.js"></script>
  <script>
  </script>
  <!-- /dashbord linegraph -->
  <script>
    NProgress.done();
  </script>